body {
    background-color: #E8E8E8;

}

#card {
    border-radius: 41px;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.25);



    #title {
        font-family: Poppins;
        font-size: 150%;
    }

    .form-control {


        height: 50px;


        background: #FFFFFF;
        border-color: #7D8995;
        border: 1px solid #7D8995;
        border-radius: 15px;

    }

    #btnEntrar{
        font-size: 20px;
        border-radius: 10px;
        background-color: #7D8995;
    }

}