<body>
  <header>
    <a
      style="border: none; margin-right: 90vw"
      routerLink="/central"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-link"
      ><svg
        width="22"
        height="16"
        viewBox="0 0 22 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM22 7L1 7V9L22 9V7Z"
          fill="black"
        />
      </svg>
    </a>
  </header>

  <main>
    <form
      class="row g-3"
      id="formularioProfessor"
      (submit)="
        atualizarProfessor(
          nomeInput.value,
          numMatriculaInput.value,
          codSedeInput.value,
          titulacaoInput.value,
          referenciaInput.value,
          latesInput.value,
          cursoInput.value,
          emailInput.value,
          observacoesInput.value
        )
      "
    >
      <h2 class="text-center" style="font-weight: bold" id="titulo">
        Edição de Professor<br />Fatec Votorantim
      </h2>
      <div class="col-12">
        <label for="inputNome" class="form-label">Nome Completo</label>
        <input
          type="text"
          class="form-control"
          id="inputNome"
          name="inputNome"
          #nomeInput [value] = "professor?.nome"
        />
        
      </div>

      <div class="col-12">
        <label for="inputEmail" class="form-label">E-mail </label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          name="inputEmail"
          #emailInput [value] = "professor?.email"
        />
      </div>

      <div id="regulaSelect">
        <div class="col-md-3" id="inputTitulacao">
          <label for="inputTitulacao" class="form-label">Titulação</label>
          <select
            id="inputTitulacao1"
            class="form-select"
            required
            name="inputTitulacao"
            #titulacaoInput [value] = "professor?.titulacao"
          >
            <option selected>Selecione...</option>
            <option>Mestre</option>
            <option>Doutor</option>
          </select>
        </div>
        <div class="col-md-4" id="inputCurso">
          <label for="inputCurso" class="form-label">Curso</label>
          <select
            id="inputCurso1"
            class="form-select"
            name="inputCurso"
            #cursoInput [value] = "professor?.curso"
          >
            <option selected>Selecione...</option>
            <option>DSM</option>
            <option>COO</option>
            <option>CDN</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label for="inputNumeroMatricula" class="form-label"
          >Número da Matricula</label
        >
        <input
          type="text"
          class="form-control"
          id="inputNumeroMatricula"
          name="inputNumeroMatricula"
          #numMatriculaInput [value] = "professor?.numero_matricula"
          disabled
        />
      </div>

      <div class="col-md-6">
        <label for="inputCodigoUESede" class="form-label"
          >Código da UE - SEDE</label
        >
        <input
          type="text"
          class="form-control"
          id="inputCodigoUESede"
          name="inputCodigoUESede"
          #codSedeInput [value] ="professor?.cod_ue"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCurriculumLates" class="form-label"
          >Curriculum Lates (URL)</label
        >
        <input
          type="url"
          class="form-control"
          id="inputCurriculumLates"
          name="inputCurriculumLates"
          #latesInput [value] = "professor?.lates"
        />
      </div>

      <div class="col-md-6">
        <label for="inputReferencia" class="form-label">Referência</label>
        <input
          type="text"
          class="form-control"
          id="inputReferencia"
          name="inputReferencia"
          #referenciaInput [value]= "professor?.referencia"
        />
      </div>
      <div class="col-md-6">
        <label for="inputReferencia" class="form-label">observacoes</label>
        <input
          type="text"
          class="form-control"
          id="inputReferencia"
          name="inputReferencia"
          #observacoesInput [value]= "professor?.observacoes"
        />
      </div>

      <div class="col-12" id="btnCadastrar">
        <button type="submit" class="btn btn-secondary" style="width: 40%">
          Atualizar
        </button>
      </div>
    </form>
  </main>
</body>
